<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">
            jdbc:sqlite:Database.db
        </property>
        <!-- <property name="hibernate.connection.username">your_username</property>
        <property name="hibernate.connection.password">your_password</property> -->


        <!--<property name="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</property>-->
        <property name="hibernate.dialect">org.sqlite.hibernate.dialect.SQLiteDialect</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="hibernate.connection.autocommit">true</property>
    </session-factory>
</hibernate-configuration>